@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Package Tracker</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Package Tracker</h2>
        <p>
            This package tracking application
            was built with Entity Framework Core in an
            ASP.NET Core Razor Pages web app.
        </p>
    </div>
        
</div>